body{
    color:white;
    background: lightcoral;
}
.heading{
    width: 80%;
    font-size: 20px; ;
}
.name_of_objects,#result_object_name,#result_accuracy{
    color: crimson;
}
#camera{
    border:2px dashed brown;
    width: 350px;
    height: 300px;
}